{% extends 'base.html' %}

{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Edit User Details" %}{% endblock %}

{% block content %}
<div class="hero">
    <h1 class="title">{% trans "Edit User Details" %}</h1>
    <p></p>
    <p class="subtitle">{% blocktrans %}Current user details are filled in the form{% endblocktrans %}</p>
</div>
<hr>

<div class="container">
    <form class="" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                {{form.first_name|add_class:"input field"|attr:"placeholder:First Name Here"}}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{form.last_name|add_class:"input field"|attr:"placeholder:Last Name Here"}}
            </div>
        </div>

        <button type="submit" class="button is-primary">{% trans "Edit" %}</button>
    </form>
</div>

{% endblock %}
